/*
  Fontes
*/


    :root {
    --blue-color: #407bff;
    --link-color: #666666;
    --text1: #999999;
    --highligth-text: #333333;
    --input-text: #555555;
    --white-color: #F3F8FF;
    --point-list: #CCCCCC;
    --line-input: #D9D9D9;
    --bottom-login: #7E30E1;
    --contrast-color: #A367B1;
    --purple-color: #49108B;
  }

  @font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
  }

  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;800&family=Poppins:ital,wght@0,300;0,400;0,500;0,800;1,300;1,400&display=swap');

*{
    margin: 0;
    padding:0 ;
    
}


.clock {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.time {
    font-size: 2rem;
    text-align: center;
}

body, html {
	height: 100%;
  width: 100%;
	font-family: 'Poppins', sans-serif;
  justify-content: center;
  align-items: center;
  display: flex;

}

ul, li {
	margin: 0px;
	list-style-type: none;
}

input, button {
	outline: none !important;
	border: none;
}

button:hover {
	cursor: pointer;
}

.text_1 {
    font-family: 'Poppins', sans-serif;
    font-size: 15px ;
    color: var(--text1);
    line-height: 1.5;
}

.text_2 {
    font-family: 'Poppins', sans-serif;
    font-size: 15px ;
    color: var(--main-color);
    line-height: 1.5;

}

.margin_bottom_35 {
    margin-bottom: 35px;
}

.margin_top_35 {
    margin-top: 35px;
}


.margin_bottom_8 {
    margin-bottom: 8px;
}

.margin_top_8 {
    margin-top: 8px;
}

.margin_left_50 {
    margin-left: 50px;
}




.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_login {
    /* width: 100%; */
    /* min-height: 100vh; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    
}

.wrap_login{
    width: 360px;
    margin-right: 50px;
    background-color: var(--white-color) ;
}


.login_form{
    width: 100%;
}

.login_form_title{
    display: block;
    font-family:'Poppins', sans-serif;
    font-size: 39px;
    color: var(--highligth-text);
    line-height: 1.2 ;
    text-align: center;
}


.wrap_input {
    width: 100%;
    position: relative;
    border-bottom: 2px solid var(--line-input) ;
}

.input_form{
        font-family: 'Poppins-SemiBold', sans-serif;
        font-size: 18px;
        color: var(--input-text);
        line-height: 1.2;
        display: block;
        width: 100%;
        height: 52px;
        background: transparent;
        padding: 0 5px;
    }

.input_form:not(:placeholder-shown) .focus_input_form::after,
.input_form:not(:placeholder-shown) .focus_input_form::before,
.input_form:not(:placeholder-shown) .focus_input_form {
  display: none;


}

.focus_input_form{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    pointer-events: none;
}

.focus_input_form::before{
    content: "";
    display: block;
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.4s;
    background-color: var(--main-color);
}


.focus_input_form::after{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: var(--text1);
    line-height: 1.2;
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 15px;
    left: 0px;
    padding-left: 5px;
    transition: all 0.4s;
}

.input_form:focus + .focus_input_form::after {
    top: -20px;
    font-size: 15px;
  }
  
  .input_form:focus + .focus_input_form::before {
    width: 100%;
  }
  
  .hals_val_input_form + .focus_input_form::after {
    top: -20px;
    font-size: 15px;
  }
  

  .hals_val_input_form + .focus_input_form::before {
    width: 100%;
  }
  

  .container_login_form_btn{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  
.login_form_btn {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: var(--white-color);
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    background-color: var(--bottom-login);
    border-radius: 5px;
    transition: all 0.4s;
  }

  .login_form_btn :hover{
    background-color: var(--highligth-text);
  }

  a {
    font-family:  'Poppins', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    color: var(--link-color);
    margin: 0px;
    transition: all 0.4s;
  }
  
  a:focus {
    outline: none !important;
  }
  
  a:hover {
    text-decoration: none;
    color: var(--highligth-text);
  }
  

  .login_utils{
    margin-top: 20px ;
  }

  .login_utils li{
    position: relative;
    padding-left: 16px;
  }


  .login_utils ::before{
    position: "";
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--point-list);
    top: 45%;
    transform: translateY(-50%);
    left: 0%;
  }


  .formulario_body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0c0ce94d;
  }

  .container_1 {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
  }

.form_image{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F3F8FF;
  padding: 1rem;
}

.form_image img{
  width: 31rem;
}

.form {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column ;
  background-color: var(--purple-color);
}

.form_header {
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
}

.login_buttom{
  display: flex;
  align-items: center;
}

.login_buttom button{
  border: none;
  background-color: var(--contrast-color);
  padding: 0.4rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.login_buttom button:hover{
  background-color: #6b63fff1;
}

.login_buttom button a {
  text-decoration: none;
  font-weight: 500;
  color: #fff;

}

.form_header h1::after{
  content: '';
  display: block;
  width: 5rem;
  height: 0.3rem;
  background-color: #6c63ff;
  margin: 0 auto;
  position: absolute;
  border-radius: 10px;
}

.input_group {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding: 1rem;
}


.input_box{
  display: flex;
  flex-direction: column;
  margin-bottom: 1.1rem;
  flex-wrap: wrap;
}

.input_box input {
  margin: 0.6rem 0;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #0000001c;
  font-size: 0.8rem;
}


.input_box input:hover {
  background-color: #eeeeee75;
}

.input_box input:focus-visible {
  outline: 1px solid #6c63ff;
}


.input_box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input_box input::placeholder {
    color: #000000be;
}

.gender_group{
  display: flex;
  justify-content: space-between;
  margin-top: 0.62rem;
  padding: 0 0.5rem;
}

.gender_input {
  display: flex;
  align-items: center;
}

.gender_input input {
  margin-right: 0.35rem;
}

.gender_input label {
  font-size: 0.81rem;
  font-weight: 600;
  color: #000000c0;
}


.continue_buttom button {
  width: 100%;
  margin-top: 2.5rem;
  border: none;
  background-color: #6c63ff;
  padding: 0.62rem;
  border-radius: 5px;
  cursor: pointer;
}


.continue_buttom button:hover {
  background-color: #6b63fff1;
}


.continue_buttom button a {
  text-decoration: none;
  font-size: 0.93rem;
  font-weight: 500;
  color: #fff;
}

@media screen and (max-width: 1330px) {
  .form_image {
      display: none;
  }

  
  .form {
      width: 100%;
  }
}


@media screen and (max-width: 1064px) {

  .input_group {
      flex-direction: column;
      z-index: 5;
      padding-right: 5rem;
      max-height: 10rem;
      overflow-y: scroll;
      flex-wrap: nowrap;
  }
  .gender_inputs {
      margin-top: 2rem;
  }
  .gender_group {
      flex-direction: column;
  }
  .gender_title h6 {
      margin: 0;
  }
  .gender_input {
      margin-top: 0.5rem;
  }
}